<?xml version="1.0" ?>
<launch>
  <arg name="with_initial_pose" default="true"/>
  <arg name="filenames_suffix" default="ref"/>
  <arg name="ref_box_pose_filename" default="transform_box_ref.npy"/>
  
  <param name="with_initial_pose" value="$(arg with_initial_pose)"/>
  <param name="filenames_suffix" value="$(arg filenames_suffix)"/>
  <param name="ref_box_pose_filename" value="$(arg ref_box_pose_filename)"/>

  <rosparam command="load" file="$(find task_board_localization)/config/board_touch_config.yaml" />
  <node name="haptic_board_detection" pkg="task_board_localization" type="haptic_board_detection" output="screen"/>

</launch>
