<launch>
	<arg name="template" default="template" doc="Template of the object to search during the localization"/>
	<rosparam command="load" file="$(find box_localization)/cfg/$(arg template)/params.yaml" />
	<node name="localizer_node" pkg="box_localization" type="localizer_service"/>
	<node name="active_localizer" pkg="box_localization" type="active_localizer" output="screen"/>
	<include file="$(find box_localization)/launch/camera.launch" />
</launch>