<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="load_gripper" default="true" />
  <!-- <include file="$(find franka_human_friendly_controllers)/launch/cartesian_variable_impedance_controller.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include> -->

  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <!-- <arg name="align_depth" value="true" /> -->
    <!-- <arg name="filters" value="pointcloud" /> -->
    <!-- <arg name="ordered_pc" value="true" /> -->
    <arg name="color_width" value="1280" />
    <arg name="color_height" value="720" />
    <arg name="color_fps" value="30" />
    <arg name="initial_reset" value="true"/>
    <arg name="enable_depth" value="false"/>
    <!-- <arg name="depth_width" value="-1" />
    <arg name="depth_height" value="-1" />
    <arg name="depth_fps" value="30" /> -->
    <!-- <arg name="enable_infra1" value="false" /> -->
  </include>

<!-- Transform from panda_hand to camera_color_optical_frame -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args="0.05570905423739419 -0.03271826477863452 0.03830910529627884 0.008182486458964237 -0.01013596394934535 0.7006937682171291 0.7133432219709147 panda_hand camera_color_optical_frame 100"/> -->

  <node pkg="tf" type="static_transform_publisher" name="camera_tf_publisher" args=" 0.054507488958493146  -0.03626680054700994 0.068181864440678 -0.002958533931264989  -0.00025654646859574193 0.6934957706599771 0.7204545768732485 panda_hand camera_color_optical_frame 100" />

</launch>