<?xml version="1.0" ?>
<launch>

  <arg name="template_name" default="template" doc="Template of the object to search during the localization"/>

  <node name="template_node" pkg="box_localization" type="record_template.py" output="screen">
        <param name="template_name" value="$(arg template_name)" /> 
  </node>

</launch>
